<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rankingTag</key>
		<integer>1</integer>
		<key>userID</key>
		<integer>1</integer>
		<key>rankingChange</key>
		<integer>0</integer>
		<key>headImageURL</key>
		<string>-</string>
		<key>userNickName</key>
		<string>-</string>
		<key>userGameScore</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
