<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameID</key>
	<string>IN-0001</string>
	<key>title</key>
	<string>独木桥</string>
	<key>average</key>
	<integer>5</integer>
	<key>level</key>
	<integer>10</integer>
	<key>rescore</key>
	<integer>100</integer>
	<key>cascore</key>
	<integer>90</integer>
	<key>inscore</key>
	<integer>120</integer>
	<key>mescore</key>
	<integer>130</integer>
	<key>spscore</key>
	<integer>200</integer>
	<key>crscore</key>
	<integer>180</integer>
</dict>
</plist>
