<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gameID</key>
		<integer>1</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/48c8751c7c9322c8f22a1e5e6bc49532c70b19e116770-DqP3kb_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>reasoning</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>2</integer>
		<key>gameTitle</key>
		<string>极限速算</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/48c8751c7c9322c8f22a1e5e6bc49532c70b19e116770-DqP3kb_fw658</string>
		<key>gameUnlockType</key>
		<string>VIP</string>
		<key>gameChallengeType</key>
		<string>calculation</string>
		<key>peopleNum</key>
		<integer>2367</integer>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>3</integer>
		<key>gameTitle</key>
		<string>察言观色</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/48c8751c7c9322c8f22a1e5e6bc49532c70b19e116770-DqP3kb_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>inspection</string>
		<key>peopleNum</key>
		<integer>5634</integer>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>4</integer>
		<key>gameTitle</key>
		<string>天旋地转</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/48c8751c7c9322c8f22a1e5e6bc49532c70b19e116770-DqP3kb_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>memory</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>5</integer>
		<key>gameTitle</key>
		<string>魔方大师</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/48c8751c7c9322c8f22a1e5e6bc49532c70b19e116770-DqP3kb_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>space</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>6</integer>
		<key>gameTitle</key>
		<string>有的放矢</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/48c8751c7c9322c8f22a1e5e6bc49532c70b19e116770-DqP3kb_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>create</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
