<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>从小到大</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#d00ed0</string>
		<key>gameUnlockType</key>
		<string>VIP</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>智者</string>
		<key>gameRanking</key>
		<integer>125</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>速算</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#00be24</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>凡者</string>
		<key>gameRanking</key>
		<integer>498</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameCover</key>
		<string>icon</string>
		<key>gameColor</key>
		<string>#3399ff</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
