<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameIcon</key>
		<string>icon</string>
		<key>gameCover</key>
		<string>gamedefault_bg</string>
		<key>gameColorStart</key>
		<string>#ff9999ff</string>
		<key>gameColorEnd</key>
		<string>#ff9900ff</string>
		<key>gameColorAlpha</key>
		<string>#009900ff</string>
		<key>gameBackground</key>
		<string>reasoning_bg</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>1</integer>
		<key>gameTitle</key>
		<string>极限速算</string>
		<key>gameIcon</key>
		<string>icon</string>
		<key>gameCover</key>
		<string>gamedefault_bg</string>
		<key>gameColorStart</key>
		<string>#ff33dd00</string>
		<key>gameColorEnd</key>
		<string>#ff339900</string>
		<key>gameColorAlpha</key>
		<string>#00339900</string>
		<key>gameBackground</key>
		<string>calculation_bg</string>
		<key>gameUnlockType</key>
		<string>VIP</string>
		<key>peopleNum</key>
		<integer>2367</integer>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>智者</string>
		<key>gameRanking</key>
		<integer>125</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>2</integer>
		<key>gameTitle</key>
		<string>察言观色</string>
		<key>gameIcon</key>
		<string>icon</string>
		<key>gameCover</key>
		<string>gamedefault_bg</string>
		<key>gameColorStart</key>
		<string>#ffffcc00</string>
		<key>gameColorEnd</key>
		<string>#ffff6600</string>
		<key>gameColorAlpha</key>
		<string>#ffffcc00</string>
		<key>gameBackground</key>
		<string>inspection_bg</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<integer>5634</integer>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>凡者</string>
		<key>gameRanking</key>
		<integer>498</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>天旋地转</string>
		<key>gameIcon</key>
		<string>icon</string>
		<key>gameCover</key>
		<string>gamedefault_bg</string>
		<key>gameColorStart</key>
		<string>#ffff66ff</string>
		<key>gameColorEnd</key>
		<string>#ffcc00ff</string>
		<key>gameColorAlpha</key>
		<string>#00cc00ff</string>
		<key>gameBackground</key>
		<string>memory_bg</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>魔方大师</string>
		<key>gameIcon</key>
		<string>icon</string>
		<key>gameCover</key>
		<string>gamedefault_bg</string>
		<key>gameColorStart</key>
		<string>#ff33ccff</string>
		<key>gameColorEnd</key>
		<string>#ff3366ff</string>
		<key>gameColorAlpha</key>
		<string>#003366ff</string>
		<key>gameBackground</key>
		<string>space_bg</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>0</integer>
		<key>gameTitle</key>
		<string>有的放矢</string>
		<key>gameIcon</key>
		<string>icon</string>
		<key>gameCover</key>
		<string>gamedefault_bg</string>
		<key>gameColorStart</key>
		<string>#ff33ccff</string>
		<key>gameColorEnd</key>
		<string>#ff3366ff</string>
		<key>gameColorAlpha</key>
		<string>#003366ff</string>
		<key>gameBackground</key>
		<string>create_bg</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevel</key>
		<integer>10</integer>
		<key>levelTitle</key>
		<string>灵者</string>
		<key>gameRanking</key>
		<integer>999</integer>
		<key>gameMaxScore</key>
		<dict>
			<key>reasoningMS</key>
			<integer>50</integer>
			<key>calculationMS</key>
			<integer>160</integer>
			<key>inspectionMS</key>
			<integer>200</integer>
			<key>memoryMS</key>
			<integer>0</integer>
			<key>spaceMS</key>
			<integer>100</integer>
			<key>createMS</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
