<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameID</key>
	<integer>1</integer>
	<key>gameTitle</key>
	<string>测试游戏1</string>
	<key>gameIconURL</key>
	<string></string>
	<key>gameCoverURL</key>
	<string>http://img.hb.aicdn.com/9c91a5c5f6aff89f568af44149437f1a8cbbcc0170bc3-Ai3RBm_fw658</string>
	<key>gameUnlockType</key>
	<string>免费</string>
	<key>gameChallengeType</key>
	<string>reasoning</string>
	<key>peopleNum</key>
	<real>1860</real>
	<key>gameLevelCount</key>
	<integer>10</integer>
	<key>gameColor</key>
	<string>#ffc643fb</string>
	<key>gameRadarScore</key>
	<dict>
		<key>reasoningRS</key>
		<integer>50</integer>
		<key>calculationRS</key>
		<integer>100</integer>
		<key>inspectionRS</key>
		<integer>150</integer>
		<key>memoryRS</key>
		<integer>200</integer>
		<key>spaceRS</key>
		<integer>250</integer>
		<key>createRS</key>
		<integer>300</integer>
	</dict>
</dict>
</plist>
