<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rankingTag</key>
		<integer>1</integer>
		<key>userID</key>
		<integer>1234</integer>
		<key>rankingChange</key>
		<integer>-9</integer>
		<key>headImageURL</key>
		<string>http://c.hiphotos.baidu.com/zhidao/pic/item/4034970a304e251f171ee349a486c9177e3e5391.jpg</string>
		<key>userNickName</key>
		<string>变化经济上的色温</string>
		<key>userGameScore</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>rankingTag</key>
		<integer>2</integer>
		<key>userID</key>
		<integer>1234</integer>
		<key>rankingChange</key>
		<integer>2</integer>
		<key>headImageURL</key>
		<string>http://c.hiphotos.baidu.com/zhidao/pic/item/4034970a304e251f171ee349a486c9177e3e5391.jpg</string>
		<key>userNickName</key>
		<string>萌面小妖</string>
		<key>userGameScore</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>rankingTag</key>
		<integer>3</integer>
		<key>userID</key>
		<integer>1234</integer>
		<key>rankingChange</key>
		<integer>2</integer>
		<key>headImageURL</key>
		<string>http://c.hiphotos.baidu.com/zhidao/pic/item/4034970a304e251f171ee349a486c9177e3e5391.jpg</string>
		<key>userNickName</key>
		<string>萌面小妖</string>
		<key>userGameScore</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>rankingTag</key>
		<integer>4</integer>
		<key>userID</key>
		<integer>1234</integer>
		<key>rankingChange</key>
		<integer>2</integer>
		<key>headImageURL</key>
		<string>http://c.hiphotos.baidu.com/zhidao/pic/item/4034970a304e251f171ee349a486c9177e3e5391.jpg</string>
		<key>userNickName</key>
		<string>萌面小妖</string>
		<key>userGameScore</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>rankingTag</key>
		<integer>5</integer>
		<key>userID</key>
		<integer>1234</integer>
		<key>rankingChange</key>
		<integer>2</integer>
		<key>headImageURL</key>
		<string>http://c.hiphotos.baidu.com/zhidao/pic/item/4034970a304e251f171ee349a486c9177e3e5391.jpg</string>
		<key>userNickName</key>
		<string>萌面小妖</string>
		<key>userGameScore</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>rankingTag</key>
		<integer>6</integer>
		<key>userID</key>
		<integer>1234</integer>
		<key>rankingChange</key>
		<integer>2</integer>
		<key>headImageURL</key>
		<string>http://c.hiphotos.baidu.com/zhidao/pic/item/4034970a304e251f171ee349a486c9177e3e5391.jpg</string>
		<key>userNickName</key>
		<string>萌面小妖</string>
		<key>userGameScore</key>
		<integer>236</integer>
	</dict>
</array>
</plist>
