<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameID</key>
	<integer>2</integer>
	<key>gameTitle</key>
	<string>极限速算</string>
	<key>gameIconURL</key>
	<string></string>
	<key>gameCoverURL</key>
	<string>http://img.hb.aicdn.com/a19a28da298fa8f80f95d09992ea84551c7ee37452eab-JiLsF6_fw658</string>
	<key>gameUnlockType</key>
	<string>VIP</string>
	<key>gameChallengeType</key>
	<string>calculation</string>
	<key>peopleNum</key>
	<integer>24153</integer>
	<key>gameLevelCount</key>
	<integer>35</integer>
	<key>gameColor</key>
	<string>#ff0cd318</string>
	<key>gameRadarScore</key>
	<dict>
		<key>reasoningRS</key>
		<integer>45</integer>
		<key>calculationRS</key>
		<integer>95</integer>
		<key>inspectionRS</key>
		<integer>145</integer>
		<key>memoryRS</key>
		<integer>195</integer>
		<key>spaceRS</key>
		<integer>245</integer>
		<key>createRS</key>
		<integer>295</integer>
	</dict>
</dict>
</plist>
