<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameID</key>
	<string>2</string>
	<key>title</key>
	<string>迷失航线</string>
	<key>iconName</key>
	<string></string>
	<key>CoverName</key>
	<string>http://img.hb.aicdn.com/a19a28da298fa8f80f95d09992ea84551c7ee37452eab-JiLsF6_fw658</string>
	<key>price</key>
	<string>0</string>
	<key>category</key>
	<string>inspection</string>
	<key>level</key>
	<integer>35</integer>
	<key>round</key>
	<integer>35</integer>
	<key>color</key>
	<string>#ff0cd318</string>
	<key>rescore</key>
	<integer>100</integer>
	<key>cascore</key>
	<integer>90</integer>
	<key>inscore</key>
	<integer>120</integer>
	<key>mescore</key>
	<integer>130</integer>
	<key>spscore</key>
	<integer>200</integer>
	<key>crscore</key>
	<integer>180</integer>
</dict>
</plist>
