<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gameID</key>
		<integer>1</integer>
		<key>gameTitle</key>
		<string>快速分类</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/9c91a5c5f6aff89f568af44149437f1a8cbbcc0170bc3-Ai3RBm_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>reasoning</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameColor</key>
		<string>#ffc643fb</string>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>2</integer>
		<key>gameTitle</key>
		<string>极限速算</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/a19a28da298fa8f80f95d09992ea84551c7ee37452eab-JiLsF6_fw658</string>
		<key>gameUnlockType</key>
		<string>VIP</string>
		<key>gameChallengeType</key>
		<string>calculation</string>
		<key>peopleNum</key>
		<integer>24153</integer>
		<key>gameLevelCount</key>
		<integer>35</integer>
		<key>gameColor</key>
		<string>#ff0cd318</string>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>3</integer>
		<key>gameTitle</key>
		<string>察言观色</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/8f212912be0fdea46ef7c5940ba5f958374861fe64112-IxTusP_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>inspection</string>
		<key>peopleNum</key>
		<integer>5634</integer>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameColor</key>
		<string>#ffff7800</string>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>4</integer>
		<key>gameTitle</key>
		<string>天旋地转</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/4639faa5f31f8e0fd49c85acc593c40ff125d7df7e7b2-idmvEQ_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>memory</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameColor</key>
		<string>#ff5856d6</string>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>5</integer>
		<key>gameTitle</key>
		<string>魔方大师</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/a3388ce2648a1155525265632573c1f137ba2c6e6bdd4-E2H241_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>space</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameColor</key>
		<string>#ff1d64f0</string>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>6</integer>
		<key>gameTitle</key>
		<string>有的放矢</string>
		<key>gameIconURL</key>
		<string></string>
		<key>gameCoverURL</key>
		<string>http://img.hb.aicdn.com/3ad2ad8e456da987afabbde49f234b9158226a40767ac-rWC2tm_fw658</string>
		<key>gameUnlockType</key>
		<string>免费</string>
		<key>gameChallengeType</key>
		<string>create</string>
		<key>peopleNum</key>
		<real>1860</real>
		<key>gameLevelCount</key>
		<integer>10</integer>
		<key>gameColor</key>
		<string>#ffff2a68</string>
		<key>gameRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>50</integer>
			<key>calculationRS</key>
			<integer>160</integer>
			<key>inspectionRS</key>
			<integer>200</integer>
			<key>memoryRS</key>
			<integer>0</integer>
			<key>spaceRS</key>
			<integer>100</integer>
			<key>createRS</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
