<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gameID</key>
		<integer>1</integer>
		<key>title</key>
		<string>快速分类</string>
		<key>iconName</key>
		<string></string>
		<key>coverName</key>
		<string></string>
		<key>price</key>
		<integer>0</integer>
		<key>category</key>
		<string>reasoning</string>
		<key>join</key>
		<real>1860</real>
		<key>level</key>
		<integer>10</integer>
		<key>color</key>
		<string>#ffc643fb</string>
		<key>round</key>
		<integer>20</integer>
		<key>rescore</key>
		<integer>200</integer>
		<key>cascore</key>
		<integer>124</integer>
		<key>inscore</key>
		<integer>130</integer>
		<key>mescore</key>
		<integer>110</integer>
		<key>spscore</key>
		<integer>20</integer>
		<key>crscore</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>gameID</key>
		<integer>1</integer>
		<key>title</key>
		<string>图形逻辑</string>
		<key>iconName</key>
		<string></string>
		<key>coverName</key>
		<string></string>
		<key>price</key>
		<integer>0</integer>
		<key>category</key>
		<string>reasoning</string>
		<key>join</key>
		<real>1860</real>
		<key>level</key>
		<integer>10</integer>
		<key>color</key>
		<string>#ffc643fb</string>
		<key>round</key>
		<integer>20</integer>
		<key>rescore</key>
		<integer>200</integer>
		<key>cascore</key>
		<integer>124</integer>
		<key>inscore</key>
		<integer>130</integer>
		<key>mescore</key>
		<integer>110</integer>
		<key>spscore</key>
		<integer>20</integer>
		<key>crscore</key>
		<integer>150</integer>
	</dict>
</array>
</plist>
