<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userID</key>
	<integer>1234</integer>
	<key>challengeNum</key>
	<integer>12</integer>
	<key>rankingChange</key>
	<integer>-3</integer>
	<key>userWorldRanking</key>
	<integer>375</integer>
	<key>userScore</key>
	<integer>250</integer>
	<key>userGrade</key>
	<string>智者</string>
	<key>userReasoningScore</key>
	<integer>0</integer>
	<key>userCalculationScore</key>
	<integer>50</integer>
	<key>userInspectionScore</key>
	<integer>100</integer>
	<key>userMemoryScore</key>
	<integer>150</integer>
	<key>userSpaceScore</key>
	<integer>200</integer>
	<key>userCreateScore</key>
	<integer>250</integer>
</dict>
</plist>
