<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>isUnlock</key>
		<integer>1</integer>
		<key>userGameNewScore</key>
		<integer>142</integer>
		<key>userGameMaxScore</key>
		<integer>165</integer>
		<key>userGameLevel</key>
		<integer>12</integer>
		<key>userRanking</key>
		<integer>268</integer>
		<key>userRankingChange</key>
		<integer>4</integer>
		<key>userRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>11</integer>
			<key>calculationRS</key>
			<integer>21</integer>
			<key>inspectionRS</key>
			<integer>31</integer>
			<key>memoryRS</key>
			<integer>41</integer>
			<key>spaceRS</key>
			<integer>51</integer>
			<key>createRS</key>
			<integer>61</integer>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>isUnlock</key>
		<integer>1</integer>
		<key>userGameNewScore</key>
		<integer>129</integer>
		<key>userGameMaxScore</key>
		<integer>154</integer>
		<key>userGameLevel</key>
		<integer>6</integer>
		<key>userRanking</key>
		<integer>659</integer>
		<key>userRankingChange</key>
		<integer>-10</integer>
		<key>userRadarScore</key>
		<dict>
			<key>reasoningRS</key>
			<integer>25</integer>
			<key>calculationRS</key>
			<integer>35</integer>
			<key>inspectionRS</key>
			<integer>45</integer>
			<key>memoryRS</key>
			<integer>55</integer>
			<key>spaceRS</key>
			<integer>65</integer>
			<key>createRS</key>
			<integer>75</integer>
		</dict>
	</dict>
</dict>
</plist>
